/* blue-dark:  #16264e; */
/* blue-main:  #233f77; */
/* gray-light: #e0e7c8; */
/* ---------------------------------------------------------------------------------------------- */
/* globals */
body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}
p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
h1 {
  width: 100%;
  background: #16264e;
  color: #e0e7c8;
  margin: 0 0 30px 0;
  padding: 30px 0;
  text-align: center;
}
button {
  background: none;
  border: none;
  padding: 0;
}
.hidden {
  display: none;
}
.centered {
  text-align: center;
}
/* menus etc */
.hamburger {
  padding: 5px;
  margin: 10px;
}
.hamburger>span {
  display: block;
  height: 5px;
  width: 40px;
  background: #ffffff;
  margin: 5px;
}
.hamburger:hover>span {
  background: #233f77;
}
.loader {
  border: 5px solid #e0e7c8;
  border-top: 5px solid #233f77;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.icon {
  width: 50px;
  margin: 5px;
}
.icon-container {
  text-align: center;
  padding: 5px;
}
.img-link:hover {
  cursor: pointer;
  /* transform: scale(1.02); */
}
/* ---------------------------------------------------------------------------------------------- */
/* navbar */
.navbar {
  margin-bottom: 0;
  border: none;
}
.nav-item {
  margin: 0;
}
.nav-link {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 768px) {.nav-link {
  padding: 40px 10px !important;
}}
.navbar-toggle {
  margin: 0;
  padding: 10px 0;
}
.nav-item > a.nav-link:hover {
  background: none;
  color: #2d4d9f;
}
.raw-talk {
  font-size: 24px;
  margin: 25px 0;
}
.navbar-brand {
  height: 100px;
}
/* ---------------------------------------------------------------------------------------------- */
/* header & footer */
.header {
  background: #16264e;
}
.header-img-container {
  position: absolute;
  height: 100px;
  width: 100%;
}
.header-img {
  height: 100%;
  position: relative;
  background: url("../img/brand/banner-dark-crop.svg");
  background-size: cover;
  background-position: center;
  filter: brightness(1);
}
.header-img::after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(#16264e99,#16264eff);
  content: " ";
  z-index: -1;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  margin-top: 30px;
  background: #16264e;
}
/* ---------------------------------------------------------------------------------------------- */
/* episodes */
.img-caption {
  padding: 5px;
}
.img-caption p,
.date {
  color: #999999;
  font-size: 14px;
}
.episode-img-tile {
  width: 100%;
  max-height: 260px;
}
.episode-img-page {
  width: 100%;
  margin-bottom: 30px; 
}
.tile-episode {
  padding: 5px;
  margin: 0;
}
.tile-episode-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 65px;
  background: #16264e;
  color: #ffffff;
  font-size: 120%;
  padding: 10px;
  z-index: 1;
}
.episode-no {
  color: #ffffff;
}
/* ---------------------------------------------------------------------------------------------- */
/* team */
.tile-profile {
  padding: 5px;
}
.tile-profile-header {
  color: #ffffff;
  background: #0006;
  padding: 5px;
  bottom: -5px;
  left: 15px;
  position: absolute;
}
.profile-img {
  position: relative;
  width: 100%;
}
.modal {
  width: 100%;
}
@media (min-width: 768px) {.modal {
  margin-top: 20%;
}}
.modal-content {
  border-radius: 0;
}
.modal-body {
  padding: 15px 0px;
}
.close {
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
  z-index: 999999;
}
