/* ---------------------------------------------------------------------------------------------- */
/* globals */
body {
  font-family: "Ubuntu", sans-serif;
}
p {
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
h1 {
  width: 100%;
  background: #eee;
  margin: 0px 0px 30px 0px;
  padding: 30px 0px;
  text-align: center;
}
.hidden {
  display: none;
}
.centered {
  text-align: center;
}
.img-link:hover {
  cursor: pointer;
  /* opacity: 0.9; */
  transform: scale(1.02);
}
/* ---------------------------------------------------------------------------------------------- */
/* home page */
.icon {
  width: 50px;
  margin: 5px;
}
.icon-container {
  background: #eee;
  text-align: center;
  margin-bottom: 30px;
  padding: 5px;
}
/* ---------------------------------------------------------------------------------------------- */
/* menus etc */
.hamburger {
  padding: 5px;
  margin: 10px;
}
.hamburger>span {
  display: block;
  height: 5px;
  width: 40px;
  background: #337ab7;
  margin: 5px;
}
.hamburger:hover>span {
  background: #23527c;
}
.close {
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 1;
  color: #337ab7;
  padding-right: 5px;
  margin: 0px;
  z-index: 99;
}
.close::before {
  content: "×";
  font-size: 30px;
}
.close:hover {
  opacity: 1;
  color: 23527c;
}
.loader {
  border: 5px solid #eee;
  border-top: 5px solid #337ab7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ---------------------------------------------------------------------------------------------- */
/* profile tiles */
.profile-tile {
  padding: 5px;
}
.profile-img {
  position: relative;
  width: 100%;
}
.profile-name-over {
  color: #fff;
  background: #0003;
  padding: 5px;
  bottom: 5px;
  left: 15px;
  position: absolute;
}
.bio {
  padding-top: 5px;
}
/* ---------------------------------------------------------------------------------------------- */
/* navbar */
.navbar {
  margin-bottom: 0px;
  border: none;
}
.nav-item > a.nav-link {
  padding: 40px 10px;
  font-size: 180%;
  text-transform: uppercase;
}
.nav-item > a.nav-link.modile {}
.navbar-toggle {
  margin: 0px;
  padding: 10px 0px;
}
.active>.nav-link {
  color: #fff;
  background: #337ab7;
}
.raw-talk {
  font-size: 24px;
  margin: 25px 0px;
}
.navbar-brand {
  height: 100px;
}
/* .navbar-logo {
  width: 220px;
} */
/* ---------------------------------------------------------------------------------------------- */
/* spotlight */
.spotlight-container {
  box-shadow: 0px 0px 20px 0px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top: 30vh;
  background: #fff;
  padding: 20px;
}
.spotlight {
  padding: 0px;
}
/* ---------------------------------------------------------------------------------------------- */
/* episode tiles */
.episode-tile {
  height: 250px;
  padding: 5px;
  margin: 0px;
}
.episode-tile-header {
  position: relative;
  padding: 0px;
  margin: 0px;
  background: #014078;
  z-index: 1;
}
.episode-tile-no {
  display: inline-flex;
  background: #337ab7;
  color: #fff;
  font-size: 150%;
  padding: 5px;
  width: 10%;
}
.episode-tile-title {
  display: inline-flex;
  top: 0px;
  color: #fff;
  font-size: 120%;
  padding: 5px;
  width: 90%;
  padding-left: 10px
}
.episode-img-container {
  position: absolute;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 5px;
  height: 245px;
  overflow: hidden;
  z-index: 0;
}
.episode-img-a {
  width: 100%;
}
/* ---------------------------------------------------------------------------------------------- */
/* episode pages */
.episode-img-b {
  width: 100%;
  margin-bottom: 30px; 
}
/* ---------------------------------------------------------------------------------------------- */
/* footer */
.footer {
  position: relative;
  background: #eee;
  bottom: 0px;
  width: 100%;
  min-height: 60px;
  margin-top: 30px;
}
.banner {
  width: 100%;
  margin: auto;
}
.banner-container {
  /* width: 300px; */
  /* margin: auto; */
  margin-bottom: 30px;
}
