<div class="container body">
  <div class="row justify-content-center">
    <div class="section col-12">
      <h3>About Raw Talk</h3>
      <div class="justified">
        <p>
        Raw Talk is a graduate student-run podcast about
        the journeys, experiences, and perspectives of
        some of the most accomplished medical researchers and professionals
        at the University of Toronto.
        </p><p>
        Our mission is to promote a research culture
        within the Faculty of Medicine and broader life science student community;
        to provide a guide for current graduate and prospective students wishing to enter academia;
        and to engage the public in medical science innovations and
        highlight the importance of discovery and translational research
        being conducted at the University of Toronto.
        </p>
      </div>
    </div>
    <div class="section col-12 container center">
      <h3>New Listener?</h3>
      <p>Check out some of our favourite episodes</p>
      <div class="row">
        {{tile-highlight}}
      </div>
    </div>
    <div id="amazon" class="section col-12 center">
      <h3>Want to support the show?</h3>
      <a href="https://www.amazon.ca/?&tag=rawtalpod-20&camp=228217&creative=531421&linkCode=ur1&adid=0JRE8TN0ASHKVVHBC0W3" target="_blank">
        <img class="sponsor-img-large invertable" src="{{root}}/img/sponsors/amazon.png">
      </a>
      <p>
        Simply shop on Amazon at the link above!
      </p>
      <p>
        Products purchaised through special links (like this one) earn website owners (like us) referral fees through the Amazon Associates program.
      </p>
      <a href="https://affiliate-program.amazon.com" target="_blank">
        Learn more
      </a>
    </div>
  </div>
</div>
