<div class="container body">
  <div class="row justify-content-center">
    <div class="col-12">
      <p>
        Raw Talk is a podcast about
        the meaning we find in science
        and the people who make it happen.
        The show explores
        the diverse perspectives that make science thorough and impactful,
        scientists' thoughts about their role in society,
        and everything in between.
      </p>
    </div>
    <div class="section col-12 center">
      <h3>Want to support the show?</h3>
      <a href="https://www.amazon.ca/?&tag=rawtalpod-20&camp=228217&creative=531421&linkCode=ur1&adid=0JRE8TN0ASHKVVHBC0W3" target="_blank">
        <img class="sponsor-img" src="{{root}}/img/sponsors/amazon.png">
      </a>
      <br>
      <p>
        Simply shop on Amazon at the link above! Courtesy of
        <a href="https://affiliate-program.amazon.com" target="_blank">
          Amazon Associates
        </a>
      </p>
    </div>
    <div class="section col-12 center">
      <h3>Questions, comments, input, constructive criticism?</h3>
      <br>
      <a class="btn" href="mailto:rawtalkpodcast@gmail.com" target="_blank">
        <h4>Tell us about it!</h4>
      </a>
    </div>
  </div>
</div>
