<div id="amazon" class="center">
  <h3>Love shopping on Amazon?</h3>
  <p>
    Use our Affiliate Link!
  </p>
  <div class="amazon-link">
    <a href="https://www.amazon.ca/?&tag=rawtalpod-20" target="_blank">[Amazon]</a>
  </div>
  <p>
    <span class="no-wrap">Raw Talk Podcast</span>
    is a participant in the
    <span class="no-wrap">Amazon Services LLC Associates Program,</span>
    an affiliate advertising program designed to provide
    a means for sites to earn advertising fees by linking to Amazon.
  </p>
  <a href="https://affiliate-program.amazon.com" target="_blank">
    Learn more
  </a>
</div>
