<div id="amazon" class="center">
  <h3>Want to support the show?</h3>
  <a href="https://www.amazon.ca/?&tag=rawtalpod-20&camp=228217&creative=531421&linkCode=ur1&adid=0JRE8TN0ASHKVVHBC0W3" target="_blank">
    <img class="sponsor-img-large invertable" src="{{root}}/img/sponsors/amazon.png">
  </a>
  <p>
    Simply shop on Amazon at the link above!
  </p>
  <p>
    Products purchased through special links (like this one) earn website owners (like us) referral fees through the Amazon Associates program.
  </p>
  <a href="https://affiliate-program.amazon.com" target="_blank">
    Learn more
  </a>
</div>
