<!-- <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-6 centered"> -->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 centered">
  <h2>Questions, comments, input, constructive criticism?</h2>
  <!-- <h3>Tell us about it!</h3> -->
  <!-- <br> -->
  <br>
  <a class="btn" href="mailto:rawtalkpodcast@gmail.com">
    <h4>Tell us about it!</h4>
  </a>
  <!-- <iframe width="600" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ3yrpQbg0K4gR5LRXJWmvT5M&key=..." allowfullscreen>
  </iframe> -->
  <!-- <form action="mailto:rawtalkpodcast@gmail.com" method="post" enctype="text/plain">
    <button type="submit" class="btn"><h4>Email Us</h4></button>
  </form> -->
  <!-- <form action="email.php" method="post" enctype="text/plain"> -->
  <!-- <form action="mailto:rawtalkpodcast@gmail.com" method="post" enctype="text/plain">
    <div class="form-group">
      <input type="text" class="form-control" id="contact-name" placeholder="Name">
      <input type="text" class="form-control" id="contact-email" placeholder="Email">
      <textarea class="form-control" id="contact-message" placeholder="Your message.."></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form> -->
</div>
