<div class="container body">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <img src="{{root}}/img/brand/covid19decoded.png" width=100%/>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <p>
        Have you heard? Our live event this year is going virtual!
        Tune into our live series, COVID-19 Decoded, starting June 25th at 3PM.
        We'll be livestreaming on YouTube with experts on all things COVID-19,
        and discussing the impact that this pandemic has had and will have on all facets of our lives.
      </p><p>
        The first episode, Coronaviruses 101, will be with Dr. Karen Mossman who will help us explore the fundamentals of coronavirus pathophysiology.
        You won't want to miss this! Registration is FREE!
      </p>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <a class="btn" href="https://form.jotform.com/201668987830267" target="_blank">
        <h4>Register Here!</h4>
      </a>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <h3>Schedule</h3>
      <table id="live-schedule" class="center">
        {{live-event}}
      </table>
      <p><i>* subject to change</i></p>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <h4>Proudly sponsored by U of T affinity partners:</h4>
      <div class="row no-gutters justify-content-center live-sponsors-container">
        {{live-sponsor}}
      </div>
      <h4>Discover the benefits of affinity products!</h4>
    </div>
  </div>
</div>
