<div class="container body">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <img src="{{root}}/img/events/covid-19/banner-blue.png" width=100%/>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <p>
        We were in the middle of planning our 2020 Live Event on Climate Change
        when the COVID-19 pandemic hit.
        We realized our planned panel discussion for a live audience of 200 or so people wasn't going to happen any time soon.
        But as we struggled to keep up with the onslaught of pandemic statistics,
        we also talked about how we could help,
        by digging deeper into SARS-CoV-2 science and societal implications.
        We settled on COVIDecoded: a live-streamed series of discussions with experts on
        virology, immunology, public health, and mental health.
      </p><p>
        COVIDecoded streamed live on YouTube for 8 weeks this summer.
        To be honest, live streaming was a lot more challenging than we expected,
        but we are incredibly proud of the result,
        and we hope it can help you navigate these difficult times.
        We are also immensely grateful to all of our busy guests for taking the time to speak with us,
        and to the amazing team that helped make the series happen:
        Kat An, Alex Jacob, Nathan Chan, Yagnesh Ladumor, Thamiya Vasanthakumar,
        Eryn Tong, Jesse Knight, Grace Jacobs, Richie Jeremian,
        Atefeh Mohammadi, Alison Wong, Melissa Galati, Frank Telfer,
        Zeynep Kahramanoglu, and Stephania Assimopoulos.
      </p><p>
        You can check out the video series on YouTube using the links below,
        listen to just the audio on your favourite podcasting platorm,
        or listen to our wrap-up discussion about the series in
        <a href="{{root}}/episode/80">episode 80</a>.
      </p>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <div class="row">
        {{streams}}
      </div>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <h4>Proudly sponsored by U of T affinity partners:</h4>
      <div class="row no-gutters justify-content-center live-sponsors-container">
        <div class="col-auto">
          <a href="https://uoft.me/rawtalkoffers" target="_blank">
            <img class="live-sponsor-img" src="{{root}}/img/sponsors/mbna.svg"/>
          </a>
        </div>
        <div class="col-auto">
          <a href="https://uoft.me/rawtalkoffers" target="_blank">
            <img class="live-sponsor-img" src="{{root}}/img/sponsors/td.svg"/>
          </a>
        </div>
      </div>
      <h4>Discover the benefits of affinity products!</h4>
    </div>
  </div>
</div>
