<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <img class="episode-img-page" src="{{root}}/img/episodes/{{no}}/{{img-page}}"></img> 
      <div class="img-caption"><p>{{img-caption}}</p></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 col-xl-8">
      <div class="player-container">
        <iframe id="player"
        src="https://player.blubrry.com/id/{{blubrry}}/#shownotesBackground-16264e&downloadBackground-16264e&subscribeBackground-16264e&shareBackground-16264e"
        scrolling="no" width="100%" frameborder="0"></iframe>
      </div>
      <p class="date">{{date}}</p>
      <p>{{notes}}</p>
      <p><i>Written by: {{authors}}</i></p>
      <p>{{links}}</p>
    </div>
  </div>  
</div>
