<!-- TODO: replace this with JS -->
<div class="container body">
  <div class="row">
    <div class="episode-col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <img class="episode-img-page" src="{{root}}/img/episodes/{{no}}/{{img-page}}"></img> 
      <div class="img-caption"><p>{{img-caption}}</p></div>
    </div>
    <div class="episode-col col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <div class="player-container">
        <iframe id="player"
        src="https://player.blubrry.com/id/{{blubrry}}/#shownotesBackground-16264e&downloadBackground-16264e&subscribeBackground-16264e&shareBackground-16264e"
        scrolling="no" width="100%" frameborder="0"></iframe>
        <div class="player-fix"></div>
      </div>
      <p class="date">
        {{date}}
      </p><p class="notes">
        {{notes}}
      </p><p class="notes">
        <i>Written by: {{authors}}</i>
      </p>
      <div class="links-container">
        {{links}}
      </div>
    </div>
  </div>
</div>
