{% extends "page.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="tile-event img-link col-12 col-sm-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <a href="https://hopin.com/events/raw-talk-podcast-festival" target="_blank">
        <img class="episode-img-tile" src="/img/event/podfest/banner.png"/>
      </a>
    </div>
    {% for event in events %}
    <div class="tile-event img-link col-12 col-sm-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <a href="{{event.href}}">
        <img class="episode-img-tile" src="/img/event/{{event.slug}}/{{event.img}}"/>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
