<div class="container body">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <img src="{{root}}/img/events/ai/banner-white.png" width=100%/>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <p>
        Artificial intelligence (AI) is increasingly being used in medicine.
        This has led to the development of cutting-edge treatments and diagnostic tools.
        However, a lack of understanding of AI often results in either
        misplaced distrust in its use, or disregard for potential limitations and ethical consequences.
        At Medicine Meets Machine, we unpacked this topic with two distinct panels on:
        1) Current Applications & Limitations of AI in Medicine and
        2) Ethical & Future Considerations of AI in Medicine.
        Our panelists shared diverse perspectives from healthcare, academia, industry, and policy development.
      </p>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <h3>Panel 1: Current Applications & Limitations of AI in Medicine</h3>
      <div class="row">
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/shreejoy-tripathy.png"/>
          <h4>Shreejoy Tripathy</h4>
          <p>Independent Scientist, CAMH & Assistant Professor, Department of Psychiatry</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/joanna-yu.png"/>
          <h4>Joanna Yu</h4>
          <p>Senior Project Manager, BrainHealth Data Bank, CAMH</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/jason-lerch.png"/>
          <h4>Jason Lerch</h4>
          <p>Director of Preclinical Imaging, University of Oxford & Associate Professor, Medical Biophysics, University of Toronto</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/marzyeh-ghassemi.png"/>
          <h4>Marzyeh Ghassemi</h4>
          <p>Assistant Professor, Department of Computer Science & Vector Institute Faculty Member</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/oren-kraus.png"/>
          <h4>Oren Kraus</h4>
          <p>Co-founder of Phenomic AI, JLABS & University of Toronto Alumni</p>
        </div>
      </div>
      <p></p>
      <p>There is a lot of information out there about what Artificial Intelligence is and how it's being used in medicine. The focus of this panel was on current applications & limitations of AI in medicine, with the goal of clarifying the realities of where we are with AI development for attendees. Panelists were asked about how their field has changed with the introduction of AI, challenges they face related to using AI, how the role of doctors is affected, why there might be gaps in public knowledge about the realities of AI, and what the most important considerations should be when beginning to work in AI.</p>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <h3>Panel 2: The Future & Ethics of AI in Medicine</h3>
      <div class="row">
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/allan-miranda.png"/>
          <h4>Allan Miranda</h4>
          <p>Head of JLABS</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/chris-hammill.png"/>
          <h4>Chris Hammill</h4>
          <p>Analyst and statistical tool developer at Sickkids</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/allison-paprica.png"/>
          <h4>Allison Paprica</h4>
          <p>Vice-president of Health Strategy & Partnerships, Vector Institute</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/ai/sunit-das.png"/>
          <h4>Sunit Das</h4>
          <p>Neurosurgeon & Scientist, St. Michael's Hospital & Associate Professor, Department of Surgery</p>
        </div>
      </div>
      <p>The use of Artificial Intelligence has expanded rapidly in medical research and clinical settings. With a focus on ethical considerations and data optimization, the goal of this panel was to provide attendees with a glimpse of the future of AI in medicine. Panelists were asked about how they expected AI to improve healthcare, address concerns regarding privacy, deidentification, job loss, and harm to patients resulting from AI, as well as speak about strategies needed to increase the benefits derived from AI.</p>
    </div>
    {{event-team}}
    {{event-sponsors}}
  </div>
</div>
