<div class="container body">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <img src="{{root}}/img/events/scituation/banner.jpg" width=100%/>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <p>
        There exists a divide between the world of science and the public sphere. An abundance of research is conducted within our niche scientific communities, and oftentimes, this is where the generated knowledge remains; the trickling down of new insights is, at best, stunted. At It’s Not You It’s the Scituation, we discussed key ways in which this gap can be bridged. We explored how public science engagement and new methods of science communication can foster empowerment of citizens, multidisciplinary collaborations, and generally draw more awareness to the important role of science and scientists in our society.
      </p>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <h3>Panel 1: Current Applications & Limitations of AI in Medicine</h3>
      <div class="row">
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/dan-weaver.png"/>
          <h4>Dan Weaver</h4>
          <p>PhD Candidate, University of Toronto</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/connie-putterman.png"/>
          <h4>Connie Putterman</h4>
          <p>Advocate & MSc Candidate, University of Toronto</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/doina-oncel.png"/>
          <h4>Doina Oncel</h4>
          <p>Founder & CEO, hEr VOLUTION</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/mehrdad-hariri.png"/>
          <h4>Mehrdad Hariri</h4>
          <p>Founder & CEO, Canadian Science Policy Centre</p>
        </div>
      </div>
      <p></p>
      <p>Public engagement in the scientific process is becoming increasingly popular, and in some instances a requirement in the discovery process. This panel explored the role of science and scientists in our society. Specifically, we discussed the state of public science literacy in Canada, and why scientists should be invested in the public's appreciation of scientific discovery.</p>
    </div>
    <div class="section col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 center">
      <h3>Panel 2: The Future & Ethics of AI in Medicine</h3>
      <div class="row">
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/vicky-forster.png"/>
          <h4>Vicky Forster</h4>
          <p>Postdoc & Science Communicator, SickKids Hospital</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/kevin-millar.png"/>
          <h4>Kevin Millar</h4>
          <p>Senior VP, Creative & Medical Science, INVIVO Communications</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/elah-feder.png"/>
          <h4>Elah Feder</h4>
          <p>Co-Host & Producer, Undiscovered Podcast</p>
        </div>
        <div class="tile-panelist col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
          <img class="img-panelist" src="{{root}}/img/events/scituation/helen-kontozopoulos.png"/>
          <h4>Helen Kontozopoulos</h4>
          <p>Co-Founder & Co-Director, Department of Computer Science Innovation Lab</p>
        </div>
      </div>
      <p>The use of new media in communicating and conveying scientific innovation and discovery to the (lay) public and within the scientific community has gained prominence. With a particular focus on social media, podcasts, graphic design, and innovative technologies, the goal of this panel was to provide attendees with insights into why these forms of science communication are important, but also practical examples of what has worked, what has not, and importantly, what the future will look like.</p>
    </div>
    {{event-team}}
    {{event-sponsors}}
  </div>
</div>


