<div class="footer center container-fluid">
  <div class="row justify-content-center align-items-end">
    <div class="footer-container amazon-footer col-12 col-lg-4 order-lg-2 col-xl-6">
      {{amazon-iframe}}
    </div>
    <div class="footer-container col-12 col-md-auto mr-md-auto col-lg-4 order-lg-1 col-xl-3">
      <a href="https://ims.utoronto.ca" target="_blank">
        <img class="sponsor-img lg-left" src="{{root}}/img/sponsors/ut-ims.png"><br>
      </a>
    </div>
    <div class="footer-container col-12 col-md-auto ml-md-auto col-lg-4 order-lg-3 col-xl-3">
      <a href="https://www.ciut.fm" target="_blank">
        <img class="sponsor-img lg-right" src="{{root}}/img/sponsors/cuit-fm.png">
      </a>
    </div>
  </div>
</div>
