<div class="footer center container-fluid">
  <div class="row justify-content-center align-items-end">
    <div class="footer-container amazon col-12 col-lg-4 order-lg-2 col-xl-6">
      <a href="https://www.amazon.ca/?&tag=rawtalpod-20&camp=228217&creative=531421&linkCode=ur1&adid=0JRE8TN0ASHKVVHBC0W3" target="_blank">
        <img class="sponsor-img inverted" src="{{root}}/img/sponsors/amazon.png"><br>
      </a>
      <span class="no-wrap">Shop on Amazon to support the show!</span>
      <span class="no-wrap"><a href="{{root}}/about#amazon">Learn more</a></span>
    </div>
    <div class="footer-container col-12 col-md-auto mr-md-auto col-lg-4 order-lg-1 col-xl-3">
      <a href="https://ims.utoronto.ca" target="_blank">
        <img class="sponsor-img lg-left" src="{{root}}/img/sponsors/ims-uoft-white.png"><br>
      </a>
    </div>
    <div class="footer-container col-12 col-md-auto ml-md-auto col-lg-4 order-lg-3 col-xl-3">
      <a href="https://www.ciut.fm" target="_blank">
        <img class="sponsor-img lg-right" src="{{root}}/img/sponsors/cuit-fm.png">
      </a>
    </div>
  </div>
</div>
