<div class="footer center container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="footer-container col-12 col-lg-4 order-lg-2 col-xl-6">
      {{social}}
    </div>
    <div class="footer-container col-12 col-md-auto mr-md-auto col-lg-4 order-lg-1 col-xl-3">
      <a href="https://ims.utoronto.ca" target="_blank">
        <img class="sponsor-img lg-left" src="{{root}}/img/sponsors/ims-uoft-white.png"><br>
      </a>
    </div>
    <div class="footer-container col-12 col-md-auto ml-md-auto col-lg-4 order-lg-3 col-xl-3">
      <a href="https://www.ciut.fm" target="_blank">
        <img class="sponsor-img lg-right" src="{{root}}/img/sponsors/cuit-fm.png">
      </a>
    </div>
    <!-- TEMP: dark mode toggle -->
    <div class="footer-container col-12">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="dark">
        <label class="custom-control-label" for="dark" style="color:#ffffff;">Dark Mode</label>
      </div>
    </div>
    <!-- / TEMP -->
  </div>
</div>
