<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#16264e">
<meta property="og:url" content="http://www.rawtalkpodcast.com/{{href}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{description}}">
<meta property="og:image" content="{{img-meta}}">
<meta property="og:image:width" content="512">
<meta property="og:image:height" content="342">
<link rel="stylesheet" href="{{root}}/css/bootstrap.min.css"/>
<script src="{{root}}/js/jquery-3.4.1.min.js"></script>
<script src="{{root}}/js/bootstrap-4.3.1.min.js"></script>
<script src="{{root}}/js/fuse-3.4.5.min.js"></script>
<script src="{{root}}/js/rawtalkpodcast.js"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-148969430-1" async></script>
<script src="{{root}}/js/google-analytics.js"></script>
<link type="text/css" rel="stylesheet" href="{{root}}/css/rawtalkpodcast.css"/>
<link rel="icon" href="{{root}}/img/icons/favicon.ico">
<title>{{title}} | Raw Talk Podcast</title>
