<div class="announce-container">
  <div class="container-fluid">
    <div class="row justify-content-center">
      {{tile-announce}}
    </div>
  </div>
</div>
<div class="header">
  <div class="header-img-container">
    <div class="header-img"></div>
  </div>
  {{navbar}}
  <div class="container-fluid">
    <div class="row justify-content-between no-gutters">
      <!-- TODO: add swipe to this? -->
      <div class="link-arrow align-left col-2 col-md-1 order-md-1">
        <a class="display-{{next}}" href={{root}}/episodes/{{next}}.html>
          <img class="icon-arrow" src="{{root}}/img/icons/arrow-left.svg"/>
        </a>
      </div>
      <div class="link-arrow align-right col-2 col-md-1 order-md-3">
        <a class="display-{{prev}}" href={{root}}/episodes/{{prev}}.html>
          <img class="icon-arrow" src="{{root}}/img/icons/arrow-right.svg"/>
        </a>
      </div>
      <div class="center col-12 col-md-10 order-md-2">
        <h1>{{title}}</h1>
      </div>
    </div>
  </div>
</div>
