<!--
  <h2>Under construction...</h2>
  <img src="img/under-construction.png"/>
-->
<div class="home">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <img class="logo-main" src="{{root}}/img/brand/logo-text.svg"/>
        <div class="tagline">
          <span class="no-wrap">Behind every discovery,</span>
          <span class="no-wrap">there's a story.</span>
          <br>
          <span class="no-wrap">Scientists Talk. We listen.</span>
        </div>
      </div>
      <div class="col-12 col-md-6 container center">
        <img class="logo-mic" src="{{root}}/img/brand/mic-white-blue.svg"/>
        <div class="section">
          <h3>New episodes every other Wednesday</h3>
          <div class="row justify-content-center">
            {{listen-on}}
          </div>
        </div>
      </div>
      <div class="section col-12 order-last center">
        <h3>Want to support the show?</h3>
        <a href="https://www.amazon.ca/?&tag=rawtalpod-20&camp=228217&creative=531421&linkCode=ur1&adid=0JRE8TN0ASHKVVHBC0W3" target="_blank">
          <img class="sponsor-img" src="{{root}}/img/sponsors/amazon-white.png">
        </a>
        <br>
        Simply shop on Amazon at the link above! Courtesy of
        <a href="https://affiliate-program.amazon.com" target="_blank">
          Amazon Associates
        </a>
      </div>
    </div>
  </div>
</div>
