<!--
  <h2>Under construction...</h2>
  <img src="img/under-construction.png"/>
-->
<div class="home">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 order-1 order-md-2">
        <img class="logo-main" src="{{root}}/img/brand/logo-text.svg"/>
          <div class="tagline">
            <div class="tagline-main left">Behind every discovery,</div><br>
            <div class="tagline-main right">there's a story.</div><br>
            <div class="tagline-sub centered">Scientists talk. We listen.</div>
        </div>
      </div>
      <div class="col-12 col-md-6 order-2 order-md-1 container centered">
        <img class="logo-mic" src="{{root}}/img/brand/mic-white-blue.svg"/>
        <div class="section">
          <h3>New episodes every other Wednesday. Listen on:</h3>
          <div class="row justify-content-center">
            {{listen-on}}
          </div>
        </div>
      </div>
      <div class="col-12 order-last centered section container">
        <div class="row justify-content-center align-items-end">
          <div class="icon-container col-12 col-xl-6 order-1 order-xl-2">
            <h3>Want to support the show?</h3>
            <a href="https://www.amazon.ca/?&tag=rawtalpod-20&camp=228217&creative=531421&linkCode=ur1&adid=0JRE8TN0ASHKVVHBC0W3" target="_blank">
              <img class="sponsor-img" src="{{root}}/img/sponsors/amazon-white.png">
            </a>
            <br>
            Raw Talk Podcast is part of the Amazon Associates Program,
            meaning you can support the show by simply shopping on Amazon
            at the link above!
          </div>
          <div class="icon-container col-8 col-xl-3 order-2 order-xl-1">
            <a href="https://ims.utoronto.ca" target="_blank">
              <img class="sponsor-img bottom left" src="{{root}}/img/sponsors/ims-uoft-white.png"><br>
            </a>
          </div>
          <div class="icon-container col-4 col-xl-3 order-3 order-xl-3">
            <a href="https://www.ciut.fm" target="_blank">
              <img class="sponsor-img right" src="{{root}}/img/sponsors/cuit-fm.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
