<div class="container body">
  <div class="row justify-content-center">
    <div class="section col-12">
      <div class="center">
        <h3>We're recruiting for Season 5!</h3>
        <p>
          Check out our positions and information on how to apply below.
        <br>
          Applications due Sunday, June 21, 2020.
        </p>
      </div>
    </div>
    <div class="center col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <img class="big-photo" src="{{root}}/img/team/recruit-point-face-out.jpg"
        onmouseover="this.src='{{root}}/img/team/recruit-point-face-in.jpg'"
        onmouseout ="this.src='{{root}}/img/team/recruit-point-face-out.jpg'"/>
      </img>
    </div>
    <div class="section col-12">
      <div class="center">
        <p>
          Download position descriptions and applications information here:
        </p>
        <br>
        {{recruit-position}}
      </div>
    </div>
  </div>
</div>
