<div class="modal" id="{{id}}" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <img class="profile-img-main" src="{{root}}/img/team/{{img-rt}}"/>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
              <h4>{{name}}</h4>
              <h4><i>{{title}}</i></h4>
              <div class="profile-bio">
                <p>{{bio}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
