<div class="container">
  <nav id="nav" class="navbar navbar-expand-md">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <div class="navbar-toggler-bar"></div>
      <div class="navbar-toggler-bar"></div>
      <div class="navbar-toggler-bar"></div>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbar">
      <ul id="nav-list" class="navbar-nav">
        {{nav-item}}
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#searchbar">
            <h3><img class="search-icon" src="{{root}}/img/icons/search.svg"/></h3>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <form class="collapse searchbar" id="searchbar" method="GET" action="{{root}}/episodes">
    <input class="search" type="text" name="q" placeholder="Search">
  </form>
</div>
