/* ---------------------------------------------------------------------------------------------- */
/* globals */
@font-face {
  font-family: 'Calluna';
  src: url('../fonts/Calluna-Regular.woff');
}
@font-face {
  font-family: 'Fakt Pro Light';
  src: url('../fonts/FaktPro-Light.woff');
}
@font-face {
  font-family: 'Fakt Pro';
  src: url('../fonts/FaktPro-Regular.woff');
}
body {
  --c-blue-dark:  #16264e;
  --c-blue-mid:   #233f77;
  --c-blue-light: #6186d1;
  --c-white:      #ffffff;
  --t-dark:       #333333;
  --t-mid:        #999999;
  --t-light:      #cccccc;
  --h-link:       #6186d1;
  --h-dark:       #33333333;
  --h-light:      #cccccc33;
  --o-dark:       #00000099;
  --f-blue-dark:  #16264ebb;
}
body.light {
  --c-background: var(--c-white);
  --c-text: var(--t-dark);
  --c-hover: var(--h-dark);
  --c-head-back: var(--c-blue-dark);
  --c-head-text: var(--c-white);
}
body.dark {
  --c-background: var(--c-blue-dark);
  --c-text: var(--t-light);
  --c-hover: var(--h-light);
  --c-head-back: var(--c-blue-mid);
  --c-head-text: var(--c-white);
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Fakt Pro', serif;
  color: var(--c-text);
  background: var(--c-background);
}
p {
  font-family: 'Fakt Pro Light', sans-serif;
}
a {
  color: var(--c-blue-light);
}
a:hover {
  color: var(--white);
  text-decoration: none;
}
h1 {
  position: relative;
  color: var(--c-white);
  padding: 10px;
  margin: 0;
  font-size: 240%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 120%;
}
button {
  background: none;
  border: none;
  padding: 0;
}
.hidden {
  display: none;
}
.center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
}
.no-wrap {
  display: inline-block;
}
.loader {
  border: 5px solid var(--c-hover);
  border-top: 5px solid var(--c-blue-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.icon-container {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.img-link:hover {
  cursor: pointer;
}
.img-link-hover {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--c-hover);
  text-align: center;
}
.img-link-hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span.img-link-hover-content {
  font-size: 200%;
  font-family: Arial, sans-serif;
  color: var(--c-white);
}
img.img-link-hover-content {
  width: 30px;
}
.dark img.invertable {
  filter: invert(100%) hue-rotate(180deg);
}
.img-link:hover .img-link-hover {
  opacity: 1;
}
.section {
  margin: 30px auto;
}
#player {
  height: 138px;
}
.player-container {
  padding-bottom: 10px;
}
/* ---------------------------------------------------------------------------------------------- */
/* navbar */
.navbar {
  padding-top: 25px;
}
.navbar-toggler {
  padding: 0;
  margin-bottom: 10px;
}
.navbar-toggler-bar {
  background: var(--c-white);
  width: 40px;
  height: 5px;
  margin: 5px 0;
}
.navbar-toggler:hover > .navbar-toggler-bar {
  background: var(--h-link);
}
.nav-link {
  color: var(--c-white);
  display: inline-block;
}
.nav-link > h3 {
  margin: 0;
}
.nav-link:hover,
.nav-link:hover i {
  color: var(--h-link);
  cursor: pointer;
}
.searchbar {
  width: 100%;
}
.search {
  color: var(--c-white);
  background-color: var(--c-blue-dark);
  border: 2px solid var(--h-light);
  padding: 8px;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 2;
}
.search::placeholder {
  color: var(--c-white);
}
.search-icon {
  height: 20px;
}
#no-search-results {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* ---------------------------------------------------------------------------------------------- */
/* header & footer */
.header {
  display: flex;
  flex-flow: row wrap;
  background: var(--c-blue-dark);
}
.header-img-container {
  position: absolute;
  height: 143px;
  width: 100%;
}
.header-img {
  height: 100%;
  position: relative;
  background: url("../img/brand/banner-dark-crop.svg");
  background-size: cover;
  background-position: center;
}
.header-img::after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(var(--f-blue-dark),var(--c-blue-dark));
  content: " ";
}
.header-content {
  position: absolute;
  top: 0;
}
.body {
  flex: 1 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: var(--c-blue-dark);
  flex-shrink: 0;
}
.footer-container {
  padding: 10px;
}
.icon-social {
  padding: 5px;
  width: 40px;
  opacity: 0.5;
}
.icon-social:hover {
  opacity: 1;
}
.sponsor-img {
  height: auto;
  max-width: 300px;
  max-height: 60px;
  margin: 5px;
}
/* ---------------------------------------------------------------------------------------------- */
/* home */
#HOME {
  --c-background: var(--c-blue-dark);
  --c-text:       var(--t-light);
}
#home h1 {
  visibility: hidden;
}
#home .footer {
  min-height: 0;
}
.logo-mic {
  width: 100%;
  margin-right: -30px;
}
.logo-main {
  padding: 50px;
  width: 100%;
  max-height: 300px;
}
.tagline {
  padding: 50px 0;
  text-align: center;
  font-size: 200%;
}
.icon-listen {
  width: 50px;
  margin: 5px;
}
@media (min-width:992px) {
  .lg-left {
    float: left;
  }
  .lg-right {
    float: right;
  }
}
/* ---------------------------------------------------------------------------------------------- */
/* about */
#ABOUT .body {
  margin: 30px auto;
}
.btn {
  background: var(--c-head-back);
  color: var(--c-head-text);
  border-radius: 0;
}
.btn:hover {
  background: var(--h-link);
}
.btn > * {
  margin: 0;
  padding: 5px;
}
/* ---------------------------------------------------------------------------------------------- */
/* team */
.tile-profile {
  padding: 5px;
}
.tile-profile-header {
  position: absolute;
  color: var(--c-white);
  background: var(--o-dark);
  padding: 5px;
  margin: 0;
  bottom: 15px;
}
.profile-img-tile {
  width: 100%;
}
.profile-img-main {
  width: 100%;
  margin-bottom: 10px;
}
.modal-content {
  border-radius: 0;
}
.modal-body {
  padding: 15px 0px;
}
.close {
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
  z-index: 99;
  font-size: 200%;
  font-family: Arial, sans-serif;
}
/* ---------------------------------------------------------------------------------------------- */
/* episodes */
.episode-col {
  padding: 5px;
}
.img-caption {
  padding: 5px;
}
.img-caption p,
.date {
  color: var(--t-mid);
}
.episode-img-tile {
  width: 100%;
  margin-bottom: 0;
}
.episode-img-page {
  width: 100%;
  margin-bottom: 10px; 
}
.tile-episode {
  padding: 5px;
  margin: 0;
}
.tile-episode-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 65px;
  background: var(--c-head-back);
  color: var(--c-head-text);
  font-size: 120%;
  padding: 8px;
  z-index: 1;
  text-align: center;
}
.season-header {
  flex: auto;
  margin: 5px;
  padding: 10px;
  background: var(--c-head-back);
  color: var(--c-head-text);
  text-align: center;
  font-size: 150%;
}
.links-container {
  position: relative;
  z-index: 9999;
  margin-top: 15px;
}
.link-arrow {
  opacity: 0.5;
}
.link-arrow:hover {
  opacity: 1;
}
.icon-arrow {
  width: 40px;
  margin: 5px;
}
.display-None {
  display: none;
}
