/* blue-dark:  #16264e; */
/* blue-main:  #233f77; */
/* gray-light: #e0e7c8; */
/* ---------------------------------------------------------------------------------------------- */
/* globals */
body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
}
p {
  font-family: "Ubuntu", sans-serif;
  /* font-size: 16px; */
  color: #333333;
}
a:hover {
  text-decoration: none;
}
h1 {
  width: 100%;
  color: #ffffff;
  padding: 20px;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 240%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 150%;
}
h4 {
  font-size: 120%;
}
button {
  background: none;
  border: none;
  padding: 0;
}
.hidden {
  display: none;
}
.centered {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* menus etc */
.loader {
  border: 5px solid #eeeeee;
  border-top: 5px solid #6186d1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.icon {
  width: 50px;
  margin: 5px;
}
.icon-container {
  text-align: center;
  padding: 5px;
  margin: 0;
}
.img-link:hover {
  cursor: pointer;
  /* transform: scale(1.02); */
}
.section {
  margin-top: 80px;
}
#HOME .footer {
  min-height: 0;
}
/* ---------------------------------------------------------------------------------------------- */
/* navbar */
.navbar {
  padding-top: 25px;
}
.navbar-toggler {
  padding: 0;
  margin-bottom: 10px;
}
.navbar-toggler-bar {
  background: #ffffff;
  width: 40px;
  height: 5px;
  margin: 5px 0;
}
.navbar-toggler:hover > .navbar-toggler-bar {
  background: #6186d1;
}
.nav-link {
  color: #ffffff !important;
  display: inline-block;
}
.nav-link > h3 {
  margin: 0;
}
.nav-link:hover,
.nav-link:hover i {
  color: #6186d1 !important;
  cursor: pointer;
}
.searchbar {
  width: 100%;
}
.search {
  color: #ffffff;
  background-color: #16264e;
  border: 2px #ffffff33 solid;
  padding: 8px;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 99;
}
.search::placeholder {
  color: #ffffff;
}
.search-icon {
  height: 20px;
}
/* ---------------------------------------------------------------------------------------------- */
/* header & footer */
.header {
  background: #16264e;
}
.header-img-container {
  position: absolute;
  height: 176px;
  width: 100%;
}
.header-img {
  height: 100%;
  position: relative;
  background: url("../img/brand/banner-dark-crop.svg");
  background-size: cover;
  background-position: center;
  filter: brightness(1);
}
.header-img::after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(#16264ecc,#16264eff);
  content: " ";
}
.body {
  margin: 30px auto;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background: #16264e;
}
.sponsor-img {
  height: auto;
  max-width: 300px;
  max-height: 80px;
  margin: 10px;
}
/* ---------------------------------------------------------------------------------------------- */
/* home */
#home h1 {
  visibility: hidden;
}
.home {
  background: #16264e;
  color: #ffffff;
  padding: 30px 0;
}
.tagline {
  /* min-height: 100vh; */
  padding: 100px 20px;
}
.tagline-main {
  clear: both;
  font-size: 250%;
  /* font-family: "Georgia", serif; */
}
.tagline-sub {
  clear: both;
  padding: 50px 0;
  font-size: 150%;
  text-transform: uppercase;
}
.logo-mic {
  width: 100%;
  margin-left: -15px;
}
.logo-name {
  width: 100%;
  max-height: 300px;
}
/* ---------------------------------------------------------------------------------------------- */
/* episodes */
.img-caption {
  padding: 5px;
}
.img-caption p,
.date {
  color: #999999;
}
.episode-img-tile {
  width: 100%;
  margin-bottom: 0;
}
.episode-img-page {
  width: 100%;
  margin-bottom: 10px; 
}
.tile-episode {
  padding: 5px;
  margin: 0;
}
.tile-episode-header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 65px;
  background: #16264e;
  color: #ffffff;
  font-size: 120%;
  padding: 10px;
  z-index: 1;
}
.links-container {
  margin-top: 15px;
}
/* ---------------------------------------------------------------------------------------------- */
/* team */
.tile-profile {
  padding: 5px;
}
.tile-profile-header {
  position: absolute;
  color: #ffffff;
  background: #0006;
  padding: 5px;
  bottom: 5;
  left: 15px;
  margin: 0;
  font-size: 100%;
}
.profile-img-tile {
  width: 100%;
}
.profile-img-main {
  width: 100%;
  margin-bottom: 10px;
}
.modal-content {
  border-radius: 0;
}
.modal-body {
  padding: 15px 0px;
}
.close {
  position: absolute;
  margin: 10px;
  right: 0;
  top: 0;
  z-index: 999999;
  font-size: 200%;
  font-family: Arial, sans-serif;
}
/* ---------------------------------------------------------------------------------------------- */
/* contact */
.btn {
  color: #ffffff;
  background: #16264e;
  border-radius: 0;
}
.btn:hover {
  color: #ffffff;
  background: #6186d1;
}
.btn > * {
  margin: 0;
  padding: 5px;
}
