<div class="container">
  <nav id="nav" class="navbar navbar-static-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{root}}/index.html">
        <div class="raw-talk">Raw Talk Podcast</div>
        <!-- <img class="navbar-logo" src="{{root}}/img/nav-logo.png"></img> -->
      </a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-content">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <div class="collapse navbar-collapse navbar-collapse-content">
        <ul id="nav-list" class="nav navbar-nav navbar-right">
          {{li}}
        </ul>
      </div>
    </div>
  </nav>
</div>
