<div class="profile-tile col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
  <img id="{{id}}" class="profile-img img-link" src="{{root}}/img/team/{{img}}"/>
  <h4 class="profile-name-over">{{name}}</h4>
  <div id="{{id}}-details" class="profile-details hidden">
    <div class="col-xs-12 col-sm-6 col sm-4 col-lg-4 col-xl-3">
      <img class="profile-img" src="{{root}}/img/team/{{img}}"/>
    </div>
    <div class="col-xs-12 col-sm-6 col sm-8 col-lg-8 col-xl-9">
      <div class="bio">
        <p>{{bio}}</p>
      </div>
    </div>
  </div>
</div>
